
main {
    height: $margen*3+150px;
    width: 100vw;
    color: map-get($colores , "fucsia");
    margin-top: 50px;
    form {
        color: map-get($colores , "crema");
        background-color: map-get($colores , "fucsia");
        padding: 10px 40px 20px 40px;
        border-width: 5px;
        border-color:map-get($colores , "crema");
        border-style:solid;
        border-radius: 10px;
        width: $margen*4;
    }
    div {
        img {
            &:hover {
                @include hover;
            }
        }
    }
    table {
        background-color: map-get($colores , "fucsia");
        color: map-get($colores , "crema") !important;
        font-family: $font-roboto;
        margin-top: $margen/6;
        border-style: none;
        border-radius: 10px;
        width: $margen*5 !important;
    }
}

