nav {
    background-color: map-get($colores , "rosa");
    div {
        a {
            color: map-get($colores , "crema") !important;
        }
        div {
            ul {
                li {
                    &:hover {
                        background-color: map-get($colores, "fucsia");
                        border-style: none;
                        border-radius: 20px;
                    }
                }
            }

        }

    }
}


